<%- include("../partials/header") %>
    <h1>Listings</h1>
  <%   for(listing of allListings){  %>
    <ul>
      <li><a href="/listings/<%= listing._id %>"><%= listing.title %> </a> </li></ul>
    <% }  %>
<%- include("../partials/footer") %>