*{font-family: Arial, Helvetica, sans-serif;}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
 height: auto;
 width: 300px;

}
.title{
     font-weight: bolder;
}